<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>   
    <add name="Context"
      connectionString="Data Source=DESKTOP-GHLTIH2\MSSQLSERVER01;Initial Catalog=GestiondeStockYessin;Persist Security Info=False;User ID=sa;Password=Admin123;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;"
         
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CsvHelper" publicKeyToken="8c4959082be5c823" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-26.0.0.0" newVersion="26.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
     <!-- EMail Setting-->
    <add key="gmailAccountAddress" value="bestobtic@gmail.com"/>
    <add key="gmailAccountPassword" value="lcjbqtkudxpudyql"/>
    <!--  <add key="gmailAccountPassword" value="29930710" />-->
    <add key="CopieEmail" value="kchaoualifss2@gmail.com"/>
    <add key="ListeMail" value="kchaoualifss2@gmail.com;alikchaoufss2@gmail.com"/>
    <!-- End EMail Setting-->
    <!-- End EMail Setting-->
    <add key="LocationBackup" value="D:\Backup"/>
  </appSettings>

</configuration>